body {
  background: url("files/sky-optimized.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "BebasNeue";
  src: url("files/BebasNeue Regular.ttf") format("truetype");
}

.landing-div {
  margin-top: 10em;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 2em
}

.name {
  font-family: "BebasNeue";
  font-size: 100px;
  margin-bottom: 0px
}

.portfolio-name {
  font-family: "BebasNeue";
  font-size: 100px;
  margin-bottom: 0px;
  color: silver
}




h1 .star-dot {
  font-size: 10px
}

.contact {
  color: black;
}

.ga {
  vertical-align: -10%
}

.grid-image {
  padding: 1em
}
